form{
    border: 1px solid silver;
    border-radius: 15px;
    padding: 20px 50px;
    padding-top: 30px;
    margin: 30px auto;
    width: 350px;
    background: whitesmoke;
    box-shadow: 10px 10px 30px silver;
}
label{
    font-size: 0.95em;
}
input{
    width: 98%;
    padding: 3%;
    text-align: center;
    color: red;
    margin-top: 5px;
    font: 12pt 'Consolas';

}
button{
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    margin: 15px;
}
button:hover{
    background: blueviolet;
}
button:focus{
    outline: 0px;
}